#stock{
	width: 900px;
	height: 600px;
	border:thin grey solid;
	text-align: center;
}

body {
	text-align: center;
	font-family: verdana;
	text-align: center;
	margin: auto;
}
img {
	margin: auto;
	display: block;
}